@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@200&display=swap");
body {
  padding: 0px;
  margin: 0px;
}

#menu {
  width: 100vw;
  height: 100vh;
  background-color: #26838C;
}

#h2menu {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 12vh;
}

#ardoise_menu, #ardoise_vin {
  width: 80vw;
  height: 80vh;
  background-color: #424442;
  border-radius: 4px;
  border: 2px white double;
  position: absolute;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0vh;
  margin-bottom: 10vh;
  padding-top: 10px;
}

#text_menu, #text_vin {
  color: white;
  font-family: 'Cookie', cursive;
  text-align: center;
  margin: auto;
  width: 75vw;
  max-height: 65vh;
}

.btn-flip-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: none;
  border: none;
}

#text_menu {
  font-size: 3vh;
}

.nom_vin {
  color: yellowgreen;
}

#bouton_vin, #bouton_miam {
  background-color: #424442;
  border: 2px white solid;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  color: #26838C;
  font-size: 2.5rem;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flip-box {
  -webkit-perspective: inherit;
          perspective: inherit;
  z-index: 2;
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
          transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.flip-box-front, .flip-box-back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-box-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box.active .flip-box-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box.active .flip-box-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* 
.flip-box.active .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.flip-box.active .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
} */
/*
#logo_fait_maison{
  position:absolute;
  border-radius: 100%;
<img id ="logo_fait_maison" src="Pictures/faitmaison2.jpg" alt="logo fait maison" width = 100px;>
}
*/
/*# sourceMappingURL=style.css.map */